body{
    background-image: url("images/cover.jfif");
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

header{
    position: sticky;
    top: 0;
    z-index: 999
}


section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 25px;
    padding: 0%;
}

h2{
    background-color: rgb(158, 142, 160);
    text-align: center;
    font-family: Amiri;
    padding: 9px;
}


.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: 350px;
    width: 350px;
    }
.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 50%;
}

.feature-item .feature-item__icon i.sicon-store:before {
    content: '' !important;
    background-image: url(https://i.ibb.co/P9kcqqY/customer-review.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 70px;
    height: 70px;
}
.center {
    text-align: center;
    width: 100%;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(117, 114, 114);
    color: white;
    text-align: center;
 }
 .carousel-item h5{
    color: black;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Amiri';
}
.carousel-item p {
    font-size: 25px;
    color: black;
}

/* For Mobile */
@media screen and (min-width : 260px) and (max-width : 1024px) {

    .carousel-inner {
        height:600px;
      }
     .item {
        height:600px;
      }
      .d-block {
        height:600px;
      }
     #pro{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
      }
     #pro2{ 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
        padding: 0%;
        flex-wrap: wrap;
        align-content: space-around;
}
}
